<% provide(:title, 'Sign up') %>
<!-- <h1>Sign up</h1>
<p>This will be a signup page for new users.</p> -->

<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<%= form_for(@user, url: signup_path) do |t| %>
  		<%= render 'shared/error_messages'%>
  		<%= t.label :name %>
  		<%= t.text_field :name, class: 'form-control'%>

  		<%= t.label :email%>
  		<%= t.email_field :email, class: 'form-control'%>

  		<%= t.label :password%>
  		<%= t.password_field :password, class: 'form-control'%>

  		<%= t.label :password_confirmation, "Confirmation" %>
  		<%= t.password_field :password_confirmation, class: 'form-control'%>

  		<%= t.submit "Create my account", class: "btn btn-primary"%>
  	<% end %>

    
  </div>
</div>